[Unit]
Description=Obtiene notas de inacap (Gabriel)

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=%h/Programación/inacapi
ExecStart=/usr/bin/node index.js -r -c gabriel -s 4
